.body{
    background-color:bisque ;
}

.big{
    font-size: 250%;
    margin-left: 32%;
}

.small{
    font-size: 170%;
    margin-left: 47%;
}

.smaller{
    font-size: 170%;
    margin-left: 42%;
}

.img{
    height: auto;
    width: 100%;
}

.list{
    font-size: 120%;
    font-family:Arial, Helvetica, sans-serif;
}

.appreciate{
    margin-left: 35%;
    font-size: 20px;
}
